
.accueil{
    font-family: 'Marhey', cursive;
    font-size: 5em;
    color: rgb(250, 238, 252);
    text-align: center;
}

#accordeon-container {
    overflow: hidden;
    max-height: 0;
}

.accordeon-header {
    font-family: 'Marhey', cursive;
    font-size: 1em;
    text-align: center;
    color: rgb(250, 238, 252);
    background-color: #f2f2f2;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;

}
.accordeon-header:hover {
    background-color: #ddd;
}
.accordeon-header i {
    margin-right: 10px;
}
.accordeon-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
} 
@media (max-width: 767px) {
    .accordeon-header {
        font-size: 18px;
    }
}
@media (min-width: 768px) {
    .accordeon-header {
        font-size: 22px;
    }
}