.star{
    font-size: small;
}
form{
    margin:0 auto;
    max-width: 100ch;
    background-color: rgba(181, 247, 247, 0.3);
    padding: 3em;
    border: 1px solid #2e2e2e59;
    border-radius: 10px;
}
.contact{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
}
.padding{
    padding:0.5em 1em;
    border-radius:5px;
}
.center_input{
    text-align: center;
}
.align{
    padding: 0.5em 3em;
    border-radius:5px;
}
.notif{
    font-size: 5em;
    font-weight: bold;
    color: rgb(250, 238, 252);
    text-align: center;
}