*{
    box-sizing: border-box;
}
html{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
main{
    flex-grow: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.empty{
    width: 1em;
}
header{
    text-align: center;
    margin: 1em auto;
}


footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    
}